body {
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0077b6;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    opacity: 40%;
}
.pagetitle{
    width:100%;
    background-color: #03045e;
    color:#408f8f;
    font-size: 2em;
    font-weight:bolder;
    text-align: center;
    border: #408f8f;
}

nav {
    display: flex;
    justify-content: center;
    background: #03045e;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
}

nav a:hover {
    border-bottom: 2px solid #ffffff;
}

.content-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.titles {
    color: #a6cdff;
    margin-bottom: 10px;
}

.text-block {
    background-color: #e0f2fe;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    font-weight: 300;

}

.image-first, .image-second, .image-third, .image-fourth {
    width: 100%;
    padding-top: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-first:hover, .image-second:hover, .image-third:hover, .image-fourth:hover {
    transform: scale(1.02);
    cursor: url('cursor/cursor.cur'), auto;
}

footer {
    background-color: #023e8a;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    margin: 0 15px;
}
.video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    padding-right: 0;
    overflow: hidden;
}


#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-content {
    position: relative;
    text-align: center; 
}

.header-content header {
    position: absolute;
    width: 100%; 
    top: 50%; 
    left: 0;
    transform: translateY(-50%); 
    color: #fff; 
    font-size: 2em; 
    z-index: 10;
}

.header-content img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.split{
    display:flex;
    padding: 20px;
}

.fishtank{
    flex: 1;
}
.list1,.list2,.list3,.list4,.list5{
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    background-color: #0666b9;
    color: #e1b8b8;
    text-shadow: #03045e;
    
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    border-color: #03045e;
    transition: 0.3s ease-in-out;
}

.list1:hover, .list2:hover,.list3:hover,.list4:hover,.list5:hover{
    transform: scale(1.05);
    cursor: url('cursor/cursor.cur'), auto;
}

.fishtank h2{
    color:#a6cdff;
}

.press-content {
    flex:3;
    position: relative;
    width: 100%;
    padding-top: 0px;
    overflow: hidden;
    color: #a6cdff;
  }

.press-back{
    background-color: #d9edff;
}

.what-new{
    padding: 15px;
    color: #2a00d4
}

.new-track{
    background-color: #333;
}

.new-track .what-new{
    color: #ffebcd;
    padding: 40px;

}

#Video1,#Video2,#Video3,#Video4,#Video5,#Video6{
    position: relative;
    width: 400px;
    height:auto;
    transition: 0.3s ease-in-out;

}

#Video1:hover,#Video2:hover,#Video3:hover,#Video4:hover,#Video5:hover,#Video6:hover{
    transform: scale(1.05);
    cursor: url('cursor/cursor.cur'), auto;
}

#Video7,#Video8{
    position: relative;
    width: 300px;
    height: auto;
    padding: 50px;
    transition: 0.3s ease-in-out;
}

#Video7:hover,#Video8:hover{
    transform: scale(1.05);
    cursor: url('cursor/cursor.cur'), auto;
}

.updown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.VIDEOS{
    display: flex;            
    flex-wrap: wrap;          
    justify-content: space-around; 
    align-items: center;      
    padding: 20px;
}

.music-title{
    background-color: #333;
    size: 3em;
    color: #fcc070;
    padding:40px;
    justify-content: center;
}
#set{
    background-color: #333;
    size: 3em;
    color: #fcc070;
    padding:40px;
    justify-content: center;
}

.music-section{
    display: block;
    flex-wrap: wrap;
}

.song_title1,.song_title2,.song_title3,.song_title4,.song_title5,.song_title6,.song_title7,.song_title8,.set1,.set2{
    padding: 20px;
    width: auto;
    height: 100%;
    transition: 2s ease-in-out;
}

.song_title1,.song_title6{
    background-color: #377a7a;
}

.song_title2,.song_title7{
    background-color: #2a00d4;
}

.song_title3,.set1{
    background-color: #fcc070;
}

.song_title4,.song_title8{
    background-color: #5647b5;
}

.song_title5, .set2{
    background-color: #00bfff;
}

.song_title1:hover,.song_title2:hover,.song_title3:hover,.song_title4:hover,.song_title5:hover,.song_title6:hover,.song_title7:hover,.song_title8:hover,.set1:hover,.set2:hover{
    transform: scale(1.02);
    cursor: url('cursor/cursor.cur'), auto;
}

#contact{
    display: flex;
    flex-grow: unset;
}

.booking-form{
    background-color: #568bb9;
    padding:40px;
}

.other-ways{
    color: #d9edff;
    padding:15px;
}

.instagram-media{
    justify-content: center; 
}

.contact-methods div {
    margin: 0;
    padding: 0;
}

.contact-methods img{
    width :200px;
}

.contact-methods{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.instagram img{
    padding: 50px;
}

.soundcloud img{
    padding: 50px;

}

.email img{
    padding: 50px;

}

.insta-model{
    display: flex;
    flex: wrap;
}

#hamicon, #close {
    position: relative;
    cursor: pointer;
    display: none;
    width: 50px;
}


#navlinks a {
    display: block; 
}

@media only screen and (max-width: 800px) {
    #hamicon, #close {
        display: block;
    }
    #navlinks {
        display: none; 
    }
    #contact{
        display: block;
    }
}

@media only screen and (min-width: 800px) {
    #hamicon, #close {
        display: none;
    }
}

.bookback{
    background-color: #03045e;
}